:root
{
--b1:rgb(31,3,34); /* tmavě fialová */
--b2:rgb(138,28,124); /* křiklavě fialová */
--b2_50:rgba(138,28,124,0.5); /* křiklavě fialová - krytí 50% */
--b3:rgb(218,65,103); /* červená */
--b4:rgb(240,188,212); /* světle růžová */
--b5:rgb(137,157,120); /* světle zelená */
--b5_50:rgba(137,157,120,0.5); /* světle zelená - krytí 50% */
}

@font-face {
font-family: "nadpis";
src:url("../font/nadpis.ttf");
}

@font-face {
font-family: "text";
src:url("../font/text.ttf");
}

* {
box-sizing:border-box;
}

body
{
display:flex;
justify-content:center;
align-items:center;
width:100%;
min-width:13.75rem; /* minimální šířka aplikace 220px */
color:var(--b4);
font-family:"text","Verda","Arial","Sans-Serif";
padding:0;
margin:0;
font-size:100%;
line-height:1;
cursor:default;
background:black;
}

h1,h2,h3
{
text-align:center;
font-family:"nadpis","Georgia","serif";
font-weight:normal;
margin-bottom:1rem;
}

h1
{
font-size:1.5rem;
font-size:calc(1.5rem + 1vw);
}

h2
{
font-size:1.25rem;
font-size:calc(1.25rem + 1vw);
}

h3
{
font-size:1.15rem;
font-size:calc(1.15rem + 1vw);
}

img
{
width:100%;
height:auto;
}

p
{
font-size:.8rem;
line-height:1.25;
}

/* MOBIL S pokud je obrazovka větší než 18em - 288px */
@media only screen and (min-width: 18em)
{
p
{
font-size:1rem;
}} 

a,input,button
{
cursor:pointer;
transition:500ms;
}

button
{
font-weight:normal;
}

a,a:link,a:visited,a:active
{
color:var(--b4);
cursor:pointer;
transition:500ms;
border:1px dotted var(--b2);
padding:.25rem;
margin:.25rem;
text-decoration:none;
}

button:disabled
{
background:var(--b3);
cursor:not-allowed;
}

button:focus{
outline:none; /* Odstranění standardního zvýraznění focusu */
}

.h-kon
{
width:100%;
min-height:100vh;
display:flex;
flex-direction:column;
justify-content:space-between;
background:var(--b1);
transition:250ms;
}

.kon
{
align-self:center;
display:grid;
grid-template-columns:repeat(6,1fr);
align-content:center;
grid-template-rows:repeat(11,auto);
grid-template-areas:
"uhr uhr uhr uhr uhr uhr" 
"can can can can can can"
"odp odp odp odp odp odp"
"pla pla nav2 nav2 nav2 nav2"
"min min nav2 nav2 nav2 nav2"
"pre pre nav2 nav2 nav2 nav2"
"poz poz poz poz poz poz"
"hla hla hla hla hla hla"
"jas jas jas jas jas jas"
"zam zam zam kon kon kon"
"obr obr obr obr obr obr"
;
background:var(--b1);
width:100%;
max-width:62.5rem; /* 1000px */
transition:250ms;
}


/* pokud je obrazovka větší než 17.5em - 280px */
@media only screen and (min-width:17.5em)
{

.kon
{
grid-template-rows:repeat(10,auto);
grid-template-areas:
"uhr uhr uhr uhr uhr uhr" 
"can can can can can can"
"odp odp odp odp odp odp"
"pla pla pla nav2 nav2 nav2"
"min min min nav2 nav2 nav2"
"pre pre pre nav2 nav2 nav2"
"poz poz poz poz poz poz"
"hla hla hla hla hla kon"
"jas jas jas jas jas zam"
"obr obr obr obr obr obr"
;
}
}


/* MOBIL L pokud je obrazovka větší než 23.25em - 372px */
@media only screen and (min-width:23.25em)
{
.kon
{
grid-template-columns:repeat(12,1fr);
grid-template-areas:
"uhr uhr uhr uhr uhr uhr uhr uhr uhr uhr uhr uhr"
"can can can can can can can can can can can can"
"odp odp odp odp odp odp odp odp odp odp odp odp"
"pla pla pla min min min nav2 nav2 nav2 nav2 nav2 nav2"
"kon kon kon pre pre pre nav2 nav2 nav2 nav2 nav2 nav2"
"zam zam zam zam zam zam nav2 nav2 nav2 nav2 nav2 nav2"
"poz poz poz poz poz poz poz poz poz poz poz poz"
"hla hla hla hla hla hla hla hla . . . ."
"jas jas jas jas jas jas jas jas . . . ."
"obr obr obr obr obr obr obr obr obr obr obr obr"
;
}}


@media only screen and (min-width:31.25em) /* 500px */
{
.kon
{
grid-template-rows:repeat(8,auto);
grid-template-areas:
"uhr uhr uhr uhr uhr uhr uhr uhr uhr uhr uhr uhr"
"can can can can can can odp odp odp odp odp odp"
"pla pla pla min min min nav2 nav2 nav2 nav2 nav2 nav2"
"kon kon kon pre pre pre nav2 nav2 nav2 nav2 nav2 nav2"
"zam zam zam zam zam zam nav2 nav2 nav2 nav2 nav2 nav2"
"hla hla hla hla hla poz poz poz poz poz poz poz"
"jas jas jas jas jas poz poz poz poz poz poz poz"
"obr obr obr obr obr obr obr obr obr obr obr obr"
;
}}

@media only screen and (min-width:37.5em) /* 600px */
{
.kon
{
grid-template-rows:repeat(7,auto);
grid-template-areas:
"uhr uhr uhr uhr uhr uhr uhr uhr uhr uhr uhr uhr"
"can can can can can can odp odp odp odp odp odp"
"pla pla min min kon kon pre pre nav2 nav2 nav2 nav2"
"jas jas jas jas jas zam zam zam nav2 nav2 nav2 nav2"
"hla hla hla hla hla zam zam zam nav2 nav2 nav2 nav2"
"poz poz poz poz poz poz poz poz nav2 nav2 nav2 nav2"
"obr obr obr obr obr obr obr obr obr obr obr obr"
;
}}

@media only screen and (min-width:43.75em) /* 700px */
{
.kon
{
grid-template-columns:repeat(14,1fr);
grid-template-rows:repeat(6,auto);
grid-template-areas:
"uhr uhr uhr uhr uhr uhr uhr uhr uhr uhr uhr uhr uhr uhr"
"can can can can can can can odp odp odp odp odp odp odp"
"pla pla min min kon kon pre pre zam zam nav2 nav2 nav2 nav2"
"jas jas jas jas poz poz poz poz poz poz nav2 nav2 nav2 nav2"
"hla hla hla hla poz poz poz poz poz poz nav2 nav2 nav2 nav2"
"obr obr obr obr obr obr obr obr obr obr obr obr obr obr"
;
}}

.hlav
{
grid-area:hlav;
background:black;
border-bottom:2px solid var(--b2_50);
}

@media only screen and (min-width: 50em) /* 800px */
{
.hlav
{
display:flex;
align-items:center;
gap:1rem;
}
.nav
{
flex:1;
}}

.hlav-kon
{
display:flex;
gap:1rem;
align-items:center;
padding:.5rem 1rem 0 1rem;
}

@media only screen and (min-width: 50em) /* 800px */
{
.hlav-kon
{
padding:.5rem 1rem 1rem 1rem;
}}

.hlav-kon h1
{
font-size:1.15rem;
font-size:calc(1.15rem + 1vw);
margin:0;
}

/*  MOBIL M pokud je obrazovka větší než 20.5em - 328px */
@media only screen and (min-width: 20.5em)
{
.hlav-kon h1
{
font-size:2rem;
font-size:calc(2rem + 1vw);
}}

.nav-ul
{
display:flex;
gap:.25rem;
margin:.5rem;
padding:0;
}

/*  MOBIL S pokud je obrazovka větší než 19.5em 312px */
@media only screen and (min-width: 19.5em)
{
.nav-ul
{
gap:1rem;
}}

/* MOBIL L pokud je obrazovka větší než 23.25em - 372px */
@media only screen and (min-width: 23.25em)
{
.nav-ul
{
margin:.5rem 1rem;
}} 


.nav-ul li
{
list-style-type:none;
flex:1 1 0;
padding:.5rem;
text-align:center;
border:1px solid var(--b2_50);
font-size:.8rem;
cursor:pointer;
max-width:15rem;
}

/* MOBIL S pokud je obrazovka větší než 18em - 288px */
@media only screen and (min-width: 18em)
{
.nav-ul li
{
font-size:1rem;
}}

.img-logo
{
background-image:url('../svg/logo.svg');
background-repeat:no-repeat;
background-size:100%;
width:3rem;
height:3rem;
}

/*  MOBIL M pokud je obrazovka větší než 20.5em - 328px */
@media only screen and (min-width: 20.5em)
{
.img-logo
{
width:4rem;
height:4rem;
}}

.uhr
{
grid-area:uhr;
display:flex;
justify-content:center;
}

.uhr-kon
{
text-align:center;
padding:.25rem;
margin:0 1rem 0 1rem;
width:min-content;
}

.uhr-kon p
{
margin:0;
}

.box-h
{ 
display:flex;
align-items:baseline;
gap:.1rem;
}

.uhr-h
{
display:inline-block;
height:auto;
min-height:3.75rem;
min-height:calc(3.75rem + 1vw);
font-size:3.75rem;
font-size:calc(3.75rem + 1vw);
line-height:1;
}

.an-w
{
animation: wait 2s linear infinite running;
}

@keyframes wait
{
0%{text-shadow:0px 0px 8px var(--b3);}
25%{text-shadow:5px 0px 8px var(--b3);}
50%{text-shadow:-5px 0px 8px var(--b3);}
75%{text-shadow:5px 0px 8px var(--b3);}
100%{text-shadow:0px 0px 8px var(--b3);}
}


.uhr-s
{
display:inline-block;
font-size:1rem;
width:.5rem;
}

/* MOBIL S pokud je obrazovka větší než 18em - 288px */
@media only screen and (min-width: 18em)
{
.uhr-s
{
font-size:calc(1rem + 1vw);
width:.9rem;
}
} 

/* TABLET pokud je obrazovka větší než 27em - 432px  */
@media only screen and (min-width: 27em)
{
.uhr-s
{
width:calc(.7rem + .9vw); /* podle zvětšování písma, se zvětšuje i šířka */
}
}

/* MOBIL S pokud je obrazovka větší než 18em - 288px */
@media only screen and (min-width: 18em)
{
.uhr-h
{
font-size:5rem;
font-size:calc(5rem + 1vw);
}

.uhr-s
{
font-size:1.5rem;
font-size:calc(1.5rem + 1vw);
}}


.kruh
{
grid-area:can;
display:none;
justify-content:center;
}

@media only screen and (min-width: 31.25em) /* 500px */
{
.kruh
{
margin-bottom:1rem;
justify-content:flex-end;
}}

.kruh-box
{
position:relative;
padding:1rem;
margin:auto;
}


.i-tlap
{
position:absolute;
top:0px;
left:0px;
width:100%;
height:100%;
opacity:0;
z-index:2;
transition:5s opacity;
}


.odp
{
grid-area:odp;
display:none;
align-items:center;
text-align:center;
margin-bottom:1rem;
}

.odp-box
{
width:100%;
padding:0 1rem;
}

@media only screen and (min-width: 31.25em) /* 500px */
{
.odp-box
{
max-width:20rem;
padding:2rem 1rem;
}}

.t-odp
{
line-height:.9;
justify-content:center;
margin-bottom:.25rem;
color:var(--b3);
background:black;
border-radius:16px 16px 0 0;
}

.nav2
{
grid-area:nav2;
}

.nav2-ul
{
display:flex;
flex-direction:column;
align-items:flex-end;
margin:0;
margin-right:1rem;
padding:0;
list-style-type:none;
}

.nav2-ul li
{
width:100%;
max-width:15rem;
padding:0;
margin:0;
margin-bottom:.5rem;
}

.nav2-ul li button
{
display:flex;
width:100%;
min-width:100%;
align-items:center;
gap:.25rem;
text-align:center;
border:1px solid var(--b1);
width:auto;
padding:.5rem;
margin:0rem;
background:black;
border-radius:10px;
color:var(--b4);
font-size:.7rem;
}


.nav2-ul li:last-child
{
display:none;  /* pro li tlačítka Zastavit Nočního VLKa */ 
}


/* MOBIL S pokud je obrazovka větší než 18em - 288px */
@media only screen and (min-width: 18em)
{
.nav2-ul li button
{
font-size:.8rem;
gap:.5rem;
}}


/* MOBIL M pokud je obrazovka větší než 20em - 320px */
@media only screen and (min-width: 20em)
{
.nav2-ul li button
{
font-size:1rem;
}}

@media only screen and (min-width: 55em) /* 880px */
{
.nav2-ul li button
{
gap:1rem;
}}

.na-i,.ob-i,.oz-i,.sp-i
{
width:2rem;
height:2rem;
min-width:2rem;
min-height:2rem;
background-repeat:no-repeat;
}

/* MOBIL S pokud je obrazovka větší než 18em - 288px */
@media only screen and (min-width: 18em)
{
.na-i,.ob-i,.oz-i,.sp-i
{
width:2.5rem;
height:2.5rem;
min-width:2.5rem;
min-height:2.5rem;
}
}

/* MOBIL M pokud je obrazovka větší než 20em - 320px */
@media only screen and (min-width: 20em)
{
.na-i,.ob-i,.oz-i,.sp-i
{
width:3rem;
height:3rem;
min-width:3rem;
min-height:3rem;
}}



.na-i
{
background-image:url('../svg/nastav.svg');
background-size:100%;
}

.ob-i
{
background-image:url('../svg/obchuzky.svg');
background-size:100%;
}

.oz-i
{
background-image:url('../svg/ozivit.svg');
background-size:100%;
}

.sp-i
{
background-image:url('../svg/logo.svg');
background-size:100%;
}

.zamek
{
grid-area:zam;
display:flex;
align-items:center;
justify-content:center;
margin:.5rem;
text-align:center;
align-self:center;
}

.box-zam
{
display:flex;
flex-direction:column;
align-items:center;
color:var(--b4);
background:transparent;
border:1px solid transparent;
font-size:.8rem;
}

/* MOBIL S pokud je obrazovka větší než 18em - 288px */
@media only screen and (min-width: 18em)
{
.box-zam
{
font-size:1rem;
}} 


.i-zam
{
width:5rem;
min-width:5rem;
height:2.5rem;
min-height:2.5rem;
background-repeat:no-repeat;
background-size:100%;
margin-bottom:.25rem;
background-image:url('../svg/zamek.svg');
}


.minutka
{
grid-area:min;
}

.i-box
{
display:flex;
flex-direction:column;
align-items:center;
margin:.5rem;
gap:.25rem;
cursor:pointer;
}

.i-box p
{
margin:0;
}

.i-min,.i-pla,.i-kon,.i-pre
{
width:2.5rem;
height:2.5rem;
min-width:2.5rem;
min-height:2.5rem;
background-repeat:no-repeat;
background-size:100%;
}

/* MOBIL S pokud je obrazovka větší než 18em - 288px */
@media only screen and (min-width: 18em)
{
.i-min,.i-pla,.i-kon,.i-pre
{
width:3rem;
height:3rem;
min-width:3rem;
min-height:3rem;
}}

.i-min
{
background-image:url('../svg/minutka.svg');
}

.i-pla
{
background-image:url('../svg/planovac.svg');
}

.i-kon
{
background-image:url('../svg/kontakt.svg');
}

.i-pre
{
background-image:url('../svg/prestav.svg');
}

.planovac
{
grid-area:pla;
}

.poznamky
{
grid-area:poz;
}

.poz-box
{
display:grid;
grid-template-rows:1fr auto;
justify-items:center;
height:100%;
padding:.5rem 0;
}

.poz-box p
{
padding-top:.25rem;
margin:0;
}

.poz-area
{
font-size:1rem;
width:calc(100% - (2 * 1rem)); /* 100% mimo margin 1rem vlevo a 1rem vpravo */
margin:1rem 1rem 0 1rem;
padding:.5rem;
color:var(--b1);
background:var(--b4);
border-radius:5px;
height:calc(100% - 1rem); /* 100% mimo margin 1rem nahoře */
min-height:5rem;
}

/* MOBIL L pokud je obrazovka větší než 23.25em - 372px */
@media only screen and (min-width: 23.25em)
{
.poz-area
{
max-width:25rem;
}}

.poz-area::-webkit-scrollbar{display:none;}

.kontakt
{
grid-area:kon;
}

.prestavky
{
grid-area:pre;
}

.hlasitost
{
grid-area:hla;
padding:0 .5rem 0 .5rem;
}


/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width:auto;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color:var(--b4);
  border-radius:1rem;
  height:.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance:none;
  margin-top:-.25rem; /* Centers thumb on the track */
  background-color:var(--b2);
  border-radius:.5rem;
  height:1rem;
  width:1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline:2px solid var(--b2_50);
  outline-offset:1px;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color:var(--b2);
  border-radius:1rem;
  height:.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color:var(--b2);
  border: none; /*Removes extra border that FF applies*/
  border-radius:.5rem;
  height:1rem;
  width:1rem;
}

input[type="range"]:focus::-moz-range-thumb{
  outline:2px solid var(--b2_50);
  outline-offset:1px;
}

.box-range
{
display:flex;
gap:.25rem;
align-items:center;
padding-right:5rem;
}

/* MOBIL M pokud je obrazovka větší než 20.5em - 328px */
@media only screen and (min-width: 20.5em)
{
.box-range
{
padding-right:0;
max-width:15rem;
}
} 

.ran-1,.ran-2
{
width:2rem;
height:2rem;
min-width:2rem;
min-height:2rem;
background-repeat:no-repeat;
background-size:100%;
}

.i-range
{
flex:1;
}


.ran-1
{
background-image:url('../svg/hlas.svg');
}

.ran-2
{
background-image:url('../svg/jas.svg');
}


.jas
{
grid-area:jas;
padding:0 .5rem 0 .5rem;
}



.paticka
{
grid-area:pat;
display:flex;
align-items:flex-end;
justify-content:center;
background:black;
border-top:2px solid var(--b2_50);
padding-top:1rem;
}

.box-pat
{
margin:0 .5rem 1rem .5rem;
text-align:center;
}

.box-pat p
{
margin-bottom:.25rem;
}


.obraz
{
grid-area:obr;
padding:1rem .5rem 0 .5rem;
border-top:3px solid black;
margin-top:.5rem;
}

.box-pol
{
margin:0;
padding:0;
list-style-type:none;
display:flex;
flex-wrap:wrap;
justify-content:space-evenly;
gap:1rem;
margin-bottom:.5rem;
}

.box-pol p
{
margin:0;
}

.o-1,.o-2,.o-3,.o-4,.o-5,.o-min
{
width:5rem;
height:auto;
padding-top:2.5rem;
background-color:transparent;
border:1px solid transparent;
color:var(--b4);
font-size:.75rem;
background-repeat:no-repeat;
background-size:100%;
margin-bottom:.25rem;
}

.o-1
{
background-image:url('../svg/p_vlevo.svg');
}

.o-2
{
background-image:url('../svg/p_cela.svg');
}

.o-3
{
background-image:url('../svg/p_full.svg');
}

.o-4
{
background-image:url('../svg/p_max.svg');
}

.o-5
{
background-image:url('../svg/p_vpravo.svg');
}

.o-min
{
background-image:url('../svg/p_min.svg');
}

.okno
{
display:none; /* flex */
opacity:0;
z-index:-1;
justify-content:center;
width:100%;
min-width:13.75rem; /* minimální šířka aplikace 220px */
height:auto;
min-height:100vh;
background:black;
transition:250ms;
}

.o-kon
{
display:grid;
grid-template-rows: auto 1fr auto;
width:100%;
height:auto;
min-height:100%;
max-width:100rem;
background:var(--b1);
}

/* větší než 1600px - maximální šířka kontejneru */
@media only screen and (min-width:100em)
{
.o-kon
{
border:1px solid var(--b2_50);
}}

.o-hlav
{
display:grid;
grid-template-columns:auto 1fr auto;
gap:.5rem;
align-items:center;
padding:.5rem;
padding-right:0;
margin-bottom:.5rem;
border-bottom:2px solid var(--b2_50);
background:black;
}


.o-log
{
width:2.5rem;
height:2.5rem;
min-width:2.5rem;
min-height:2.5rem;
background-image:url('../svg/logo.svg');
background-size:100%;
background-repeat:no-repeat;
}

/* MOBIL S pokud je obrazovka větší než 18em - 288px */
@media only screen and (min-width: 18em)
{
.o-log
{
width:3rem;
height:3rem;
min-width:3rem;
min-height:3rem;
}}

.o-c1
{
display:flex;
flex-direction:column;
align-items:center;
align-self:flex-end;
gap:.25rem;
}


.o-c1 p
{
text-align:center;
margin:0;
}

.o-c2
{
display:flex;
flex-direction:column;
align-items:center;
font-size:.8rem;
background:transparent;
color:var(--b4);
border:1px solid transparent;
gap:.25rem;
padding:0 .5rem 0 .5rem;
}


.o-kriz
{
width:1.5rem;
height:1.5rem;
min-width:1.5rem;
min-height:1.5rem;
background-color:transparent;
background-image:url('../svg/krizek.svg');
background-size:100%;
background-repeat:no-repeat;
}

/* MOBIL S pokud je obrazovka větší než 18em - 288px */
@media only screen and (min-width: 18em)
{
.o-kriz
{
width:2rem;
height:2rem;
min-width:2rem;
min-height:2rem;
}}

meter
{
width:100%;
max-width:30rem;
margin:0;
}

meter::-webkit-meter-bar
{
background: none; /* Required to get rid of the default background property */
background-color:var(--b4); /* pozadí měřidla */
}

meter::-webkit-meter-optimum-value
{
background:var(--b5); /* barva ukazatele měřidla */
}

.o-telo
{
padding: 0 1rem 1rem 1rem;
overflow:auto;
}

.o-telo-s
{
display:grid;
grid-template-rows: auto auto 1fr;
justify-items:center;
}


.o-t
{
width:100%;
max-width:100rem;
background:var(--b1);
}

/* při maximální šířce kontejneru 100rem */
@media only screen and (min-width: 100em)
{
.o-t
{
border:1px solid var(--b2_50);
}}

.o-pata
{
display:grid;
grid-template-columns: auto 1fr auto;
border-top:2px solid var(--b2_50);
background:black;
padding:1rem;
}

/* TABLET pokud je obrazovka větší než 27em - 432px */
@media only screen and (min-width: 27em)
{
.o-pata
{
padding-top:1.25rem;
padding-bottom:1.25rem;
}} 


.o-pata button
{
font-family:"nadpis","Georgia","serif";
font-size:1rem;
background:var(--b5);
color:var(--b1);
border: 1px dotted var(--b1);
padding:.5rem;
}

.o-pata button:disabled
{
background:var(--b3);
cursor:not-allowed;
}


/* MOBIL L pokud je obrazovka větší než 23.25em - 372px */ 
@media only screen and (min-width: 23.25em)
{
.box-obch
{
margin-top:2rem;
display:flex;
flex-direction:column;
align-items:center;
}}


.b-obch
{
list-style-type:none;
display:flex;
flex-wrap:wrap;
gap:1rem;
justify-content:center;
margin:0;
padding:0;
}

/* TABLET pokud je obrazovka větší než 27em - 432px */
@media only screen and (min-width: 27em)
{
.b-obch
{
gap:2rem;
}}

.kr,.kr2
{
will-change:transform;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
width:5rem;
height:5rem;
background:transparent;
color:var(--b4);
border:5px solid var(--b3);
border-radius:50%;
padding:.6rem;
}

.kr
{
cursor:crosshair;
transition:600ms;
}

.kr:hover
{
scale:1.15;
}

.krAN /* CSS používá JavaScript v pruvodce.js !!! */
{
animation:nataceni 30 .75s linear; /* po 30 ciklech se animace sama zastaví */
}

.kr2
{
display:none;
border-color:var(--b5);
}

@keyframes nataceni
{
0%{transform:perspective(0px) rotateY(0deg);}
40%{transform:perspective(5px) rotateY(-.25deg);}
60%{transform:perspective(5px) rotateY(.25deg);}
100%{transform:perspective(0px) rotateY(0deg);}
}

.kr span,.kr2 p
{
margin-bottom:.15rem;
font-size:2rem;
line-height:1;
width:100%;
text-align:center;
cursor:crosshair;
}

.kr2 p
{
cursor:default;
}

.kr span::selection,.kr2 p::selection
{
background:transparent;
}

.kr span:last-child,.kr2 p:last-child
{
margin:0;
font-size:.8rem;
}

.kr-s
{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
font-size:1.5rem;
width:3rem;
height:3rem;
background:transparent;
color:var(--b4);
border:3px solid var(--b3);
border-radius:50%;
padding:.6rem;
transition:600ms;
cursor:crosshair;
}


.int-box
{
display:grid;
grid-template-columns:1fr .25fr;
gap:1rem;
width:100%;
}

.int-flex
{
display:flex;
align-items:flex-start;
align-content:flex-start;
justify-content:center;
flex-wrap:wrap;
gap:1rem;
}


.int-p
{
display:grid;
grid-template-rows:auto 1fr auto auto;
gap:1rem;
}

.int-l
{
background:var(--b4);
border-radius:8px;
padding:.5rem;
width:100%;
min-width:6rem;
max-width:12rem;
}

.i-b1,.i-b2
{
padding-left:4px;
}

.i-b1
{
border-left:solid 4px var(--b3);
}

.i-b2
{
border-left:solid 4px var(--b5);
}

.int-l p
{
color:var(--b1);
margin-bottom:.25rem;
}

.int-l p:first-child
{
font-weight:bold;
}

.pl-mn
{
display:flex;
flex-wrap:wrap;
gap:.25rem;
align-items:center;
justify-content:center;
justify-self:end;
width:5rem;
background:var(--b1);
color:var(--b4);
border:1px solid var(--b1);
text-align:center;
}

.i-plus,.i-minus
{
width:4rem;
min-width:4rem;
height:4rem;
min-height:4rem;
background-size:100%;
background-repeat:no-repeat;
background-color:var(--b5);
border-radius:50%;
}

.i-plus
{
background-image:url('../svg/plus.svg');
}

.i-minus
{
background-image:url('../svg/minus.svg');
}

.can
{
width:100%;
height:auto;
/* max-width:200px; */
/* border:1px solid var(--b2_50); */
letter-spacing: 0rem;  /* vlastnost určuje mezeru mezi jednotlivými písmeny  */
word-spacing: 0rem; /* vlastnost určuje mezeru mezi jednotlivými slovy */
margin-bottom:1rem;
transition:5s opacity;
}

/* MOBIL L pokud je obrazovka větší než 23.25em - 372px */
@media only screen and (min-width: 23.25em)
{
.can
{
max-width:300px;
}}

/* TABLET pokud je obrazovka větší než 27em - 432px 
@media only screen and (min-width: 27em)
{
.can
{
max-width:400px;
}} */

.v-o
{
display:grid;
grid-template-rows:auto auto auto 1fr auto;
justify-items:center;
}

.o-s
{
padding:1rem;
background: var(--b4);
border-radius:8px;
text-align:center;
width:auto;
max-width:15rem;
margin-bottom:1rem;
}

.o-s p
{
color:var(--b1);
}

.o-s p:last-child
{
margin-bottom:0;
font-size:1.5rem;
}

.but-os
{
display:grid;
grid-template-rows: repeat(4,1fr);
gap:1rem;
justify-content: end;
width:100%;
}

.but-os button
{
width:100%;
max-width:6rem;
}


.ob-box
{
width:100%;
display:flex;
justify-content:center;
}

.ob-kon
{
width:100%;
max-width:30rem;
}

.ob-f p
{
font-size:1.25rem;
font-size:calc(1.25rem + .5vw);
margin-bottom:.5rem;
}

.ob-f textarea
{
font-family:"text","Verda","Arial","Sans-Serif";
font-size:1.25rem;
font-size:calc(1.25rem + .5vw);
width:100%;
height:10rem;
background:var(--b4);
color:var(--b1);
padding:.5rem;
border-radius:8px;
margin-bottom:1.5rem;
}



.box-uzaver
{
display:none;
opacity:0;
transition:250ms;
position:fixed;
top:0;
left:0;
will-change:transform;
height:100%;
min-height:100%;
width:100%;
min-width:100%;
background:rgba(0,0,0,0.5);
z-index:10;
}

.box-uzaver::-webkit-scrollbar { display: none; }


.uzaver
{
display:flex;
align-items:center;
justify-content:center;
position:sticky;
top:0;
left:0;
will-change:transform;
height:100vh;
min-height:100vh;
width:100%;
min-width:100%;
z-index:11;
overflow:auto;
padding:1rem;
}

.uzaver::-webkit-scrollbar{display:none;}

.obchuzka_box
{
background:var(--b4);
border:1px solid var(--b2);
color:var(--b1);
margin:auto;
z-index:12;
border-radius:4px;
width:100%;
max-width:30rem;
overflow:auto;
}

.hod-box
{
display:flex;
align-items:baseline;
gap:.25rem;
padding:.5rem .5rem 0 .5rem;
}

.tout
{
display:flex;
align-items:baseline;
justify-content:center;
margin-bottom:0;
}

.tout p
{
margin-bottom:0;
}

.h-ob
{
display:flex;
align-items:baseline;
color:var(--b4);
margin-bottom:0;
}

.s-ob
{
display:inline-block;
width:.4rem;
min-width:.4rem;
font-size:.6rem;
}

/* MOBIL S pokud je obrazovka větší než 18em - 288px */ 
@media only screen and (min-width: 18em)
{
.s-ob
{
width:.5rem;
min-width:.5rem;
font-size:.75rem;
}} 


.i-hod, .i-nzv
{
background-repeat:no-repeat;
background-size:100%;
}

.i-hod
{
width:1rem;
height:1rem;
min-width:1rem;
min-height:1rem;
background-image:url('../svg/hodiny.svg');
}

.i-nzv
{
width:2rem;
height:2rem;
min-width:2rem;
min-height:2rem;
border:none;
background:transparent;
background-image:url('../svg/no-zvuk.svg');
}




.t-box
{
text-align:center;
border-top:2px solid var(--b1);
border-bottom:2px solid var(--b1);
padding:1rem .5rem 1rem .5rem;
}

.t-box p
{
margin-bottom:.25rem;
}

.vz-box
{
display:flex;
justify-content:space-between;
align-items:center;
padding:.5rem;
margin-bottom:.5rem;
}

.sem-kon
{
background:var(--b1);
display:flex;
justify-content:space-between;
align-items:center;
padding:.5rem;
}

.sem-box
{
display:flex;
gap:.25rem;
}

.sem1,.sem2
{
width:1rem;
min-width:1rem;
height:1rem;
min-height:1rem;
border-radius:50%;
background:var(--b1);
}

/* MOBIL S pokud je obrazovka větší než 18em - 288px 
@media only screen and (min-width: 18em)
{
.sem1,.sem2
{
width:3rem;
min-width:3rem;
height:3rem;
min-height:3rem;
}} */

.sem1
{
animation:semafor1 1s ease-in-out infinite paused;
}

.sem2
{
animation:semafor2 1s ease-in-out infinite paused;
}


@keyframes semafor1
{
0%{background:var(--b1);  box-shadow: 0px 0px 0px var(--b3);}
50%{background:var(--b3); box-shadow: 0px 0px 16px var(--b3);}
100%{background:var(--b1);  box-shadow: 0px 0px 0px var(--b3);}
}

@keyframes semafor2
{
0%{background:var(--b3); box-shadow: 0px 0px 16px var(--b3);}
50%{background:var(--b1); box-shadow: 0px 0px 0px var(--b3);}
100%{background:var(--b3); box-shadow: 0px 0px 16px var(--b3);}
}

.b-box
{
padding:0 1rem 0 1rem;
}

dialog
{
background:var(--b4);
color:var(--b1);
border:1px solid var(--b2);
border-radius:8px;
padding:0;
transition: 2s;
}

/* pokud je obrazovka větší než 27em - 432px */
@media only screen and (min-width: 27em)
{
dialog
{
max-width:25rem;
}}

dialog::backdrop
{
background-color: rgba(0,0,0,0.7);
}

dialog::-webkit-scrollbar { display: none; }

.d-kriz
{
display: flex;
justify-content: flex-end;
background:var(--b1);
padding:.5rem;
margin-bottom:1rem;
}

.d-telo
{
padding:0 1rem 0 1rem;
}

.d-telo p
{
text-align:center;
font-size:1.25rem;
font-size:calc(1.25rem + .5vw);
line-height:1;
}

.p_n
{
font-size:1rem;
}

.d-butt
{
display:flex;
gap:1rem;
justify-content:space-between;
margin:1rem;
}

.d-butS
{
gap:0rem;
justify-content:center;
}

.box-text
{
display:block;
padding:.5rem;
margin-top:auto;
margin-bottom:auto;
border-top: 4px solid var(--b2);
border-bottom: 4px solid var(--b2);
background:var(--b1);
width:100%;
height:auto;
animation: anim-text-cel-obr 5s infinite paused linear;
will-change: transform; /* zapnutí hardwerové akcelerace */
}

.box-text p
{
font-size:2rem;
font-size:calc(2rem + 2vw);
text-align:center;
margin-bottom:0;
line-height:1;
}

/* pokud je obrazovka vyšší než 20em - 320px */
@media only screen and (min-height: 20em)
{
.box-text
{
border-top: 8px solid var(--b2);
border-bottom: 8px solid var(--b2);
padding:1rem;
}}


@keyframes anim-text-cel-obr
{
0%{opacity:0;transform:scale(1.25);}
10%{opacity:.25;transform:scale(1.25);}
20%{opacity:.75; transform:scale(1.25);}
30%{opacity:1;transform:scale(1);}
40%{opacity:1;transform:scale(1);}
50%{opacity:1;transform:scale(1);}
60%{opacity:1;transform:scale(1);}
70%{opacity:.75;transform:scale(1);}
80%{opacity:.25;transform:scale(1);}
90%{opacity:0;transform:scale(1);}
100%{opacity:0;transform:scale(1);}
}

.ch-s
{
width:2rem;
height:2rem;
}

.ch-s:focus-visible
{
outline:0px;
}

.no-script
{
position:absolute;
top:20px;
left:0px;
width:auto;
height:auto;
background:white;
color:black;
padding:1rem;
margin:1rem;
z-index:999;
border:2px solid var(--b3);
border-radius:4px;
box-shadow: 0px 0px 50px black;
}

.no-script p
{
font-size:2rem;
}

.kontakt p a
{
color:var(--b4);
}

.l-zam
{
width:6rem;
height:6rem;
width:calc(6rem + 2vw);
height:calc(6rem + 2vw);
max-width:100%;
}



.flex
{
display:flex;
}

.flex-c
{
display:flex;
flex-direction:column;
}

.jcc
{
justify-content:center;
}

.aic
{
align-items:center;
}

.f-07
{
font-size:.7rem;
}

.f-1r
{
font-size:1rem;
font-size:calc(1rem + .5vw);
line-height:1;
}

.f-3r
{
font-size:3rem;
font-size:calc(3rem + 2vw);
line-height:1;
}

.f-2
{
font-size:2rem;
}

.f-115
{
font-size:1.15rem;
font-size:calc(1.15rem + 1vw);
}

.tuc
{
font-weight:bold;
}

.mt-0
{
margin-top:0rem;
}

.mt-2
{
margin-top:2rem;
}

.mb-0
{
margin-bottom:0;
}

.mb-1
{
margin-bottom:1rem;
}

.mb-025
{
margin-bottom:.25rem;
}

.mb-05
{
margin-bottom:.5rem;
}


.mb-2
{
margin-bottom:2rem;
}

.p0
{
padding:0;
}

.px
{
padding:.5rem;
}

/* MOBIL S pokud je obrazovka větší než 18em - 288px */
@media only screen and (min-width: 18em)
{
.px
{
padding:1rem;
}}



.tc
{
text-align:center;
}

.tr
{
text-align:right;
}

.jus
{
text-align:justify;
}

.ha
{
hyphens:auto;
}

.lh2
{
line-height:2;
}

.jse
{
justify-self:end;
}

.tj
{
text-align:justify;
hyphens:auto;
max-width:45ch;
}

.c-b5
{
color:var(--b5);
}



.w5rem
{
width:5rem;
max-width:5rem;
cursor:pointer;
}

.cp
{
cursor:pointer;
}


.cd
{
cursor:default;
}


.but
{
font-family:"nadpis","Georgia","serif";
font-size:1rem;
background:var(--b5);
color:var(--b1);
border:1px dotted var(--b1);
padding:.5rem;
}

.bs
{
width:100%;
margin-bottom:1rem;
}

.flex-s
{
display:flex;
align-items:center;
gap:.25rem;
}

/* MOBIL S pokud je obrazovka větší než 18em - 288px */
@media only screen and (min-width: 18em)
{
.flex-s
{
gap:.5rem;
}}

/* MOBIL M pokud je obrazovka větší než 20.5em - 328px */
@media only screen and (min-width: 20.5em)
{
.flex-s
{
gap:1rem;
}} 

.em-imp
{
padding:.25rem;
width:100%;
max-width:12rem;
text-align:center;
border:2px solid var(--b2);
border-radius:5px;
background:white;
color:var(--b1);
cursor:text;
}

/* MOBIL S pokud je obrazovka větší než 18em - 288px */
@media only screen and (min-width: 18em)
{
.em-imp
{
font-size:.8rem;
padding:.5rem;
}}

/* MOBIL M pokud je obrazovka větší než 20.5em - 328px */
@media only screen and (min-width: 20.5em)
{
.em-imp
{
font-size:1rem;
}}


.op05
{
opacity:.5;
}

.p-s
{
position:sticky;
top:0;
left:0;
will-change:transform;
z-index:1;
}

.f110
{
flex:1 1 0;
}

.b-w0
{
border-width: 0px;
}

.n-s::selection
{
background:transparent;
}

.no_bar::-webkit-scrollbar{display:none;} /* schová posuvnou lištu */
.no_bar
{
cursor:none;
}

.f-con
{
position:absolute;
left:0;
top:0;
width:100%;
height:100%;
visibility:hidden;
color:white;
z-index:99;
}

.f
{
width:96px;
height:54px;
/* visibility: hidden; */
position: sticky;
top:100px;
top:calc(100%/2 - 54px/2);
left:10px;
left: calc(100%/2 - 96px/2);
color:white;
z-index:99;
}

.w1
{
width:100%;
height:100%;
}


.d-n
{
display:none;
}


/* MOBIL S pokud je obrazovka větší než 18em - 288px 
@media only screen and (min-width: 18em)
{


} */


/* MOBIL M pokud je obrazovka větší než 20.5em - 328px 
@media only screen and (min-width: 20.5em)
{


} */

/* MOBIL L pokud je obrazovka větší než 23.25em - 372px 
@media only screen and (min-width: 23.25em)
{


} */

/* TABLET pokud je obrazovka větší než 27em - 432px 
@media only screen and (min-width: 27em)
{


} */


/* PC (notebook) pokud je obrazovka větší než 49em - 784px 
@media only screen and (min-width: 49em)
{


} */



